.Footer {
  margin: 0 auto;
  width: 80%;
}

.footer-text {
  font-style: italic;
  color: darkgray;
}

.footer-link {
  color: darkgrey;
  text-decoration: none;
}

.footer-link:hover {
  color: rgb(111, 110, 110);
}
