.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "Header"
    "Main"
    "Footer";
  height: 100vh;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .App {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "Sidebar Header"
      "Sidebar Main"
      "Sidebar Footer";
  }
}
