.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 3fr 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .App {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 3fr 1fr;
    grid-template-areas:
      "sidebar header header header"
      "sidebar main main main"
      "sidebar footer footer footer";
  }
}
