.Social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 86px;
  background-color: #f2f2f2;
}

.font-awesome {
  margin: 0.75rem;
  width: 1rem;
}

.fa-tumblr {
  color: #34526f;
}

.fa-twitter {
  color: #00acee;
}

.fa-instagram {
  color: #3f729b;
}
